*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  align-items: end;
  gap: 32px;
  width: 1140px;
}

/* Скрытие элементов */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Section result */

.result__video-container {
  position: relative;
  height: 386px;
  width: 710px;
  margin-bottom: 16px;
  flex-shrink: 0; 
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  flex-grow: 1;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  background-color: inherit;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  appearance: none;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* Чекбоксы */

.search-form__checkbox-list > .search-form__label {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover .search-form__label-text {
  text-decoration: underline;
}

/* Section content__details */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;

}

.title {
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  max-height: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;  
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: center;
}

/* Стили кнопок */

.button {
  padding: 6px 0;
  text-align: center;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

/* TODO: проверить размеры контейнера, чтобы при фокусе обводку было видно со всех сторон */
.more-button {
  width: 390px;
}